<p>demo works!</p>
<div class="mt-4 flex justify-center space-x-4">
    <a href="https://github.com/srija-cyber" target="_blank" class="text-gray-500 hover:text-white"><i
            class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/dhanwada-srija" target="_blank" class="text-gray-500 hover:text-blue-400"><i
            class="fab fa-linkedin-in"></i></a>
    <a href="https://x.com/srija3571" target="_blank" class="text-gray-500 hover:text-blue-300"><i
            class="fab fa-twitter"></i></a>
</div>

<a href="https://app--telangana-trans-port-64d81f6b.base44.app/" target="_blank"
    class="text-cyan-300 hover:text-cyan-100 font-medium flex items-center">
    View Project <i class="fas fa-arrow-right ml-2"></i>
</a>